.icons {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
}
.icons-home {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 13px;
  background-position: -1px -232px;
}
.icons-system {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 13px;
  background-position: -1px -269px;
}
.icons-health {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 13px;
  background-position: -1px -303px;
}
.icons-net {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 13px;
  background-position: -1px -340px;
}
.icons-config {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 13px;
  background-position: -1px -376px;
}
.icons-security {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 13px;
  background-position: -1px -517px;
}
.icons-remote {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 13px;
  background-position: -1px -412px;
}
.icons-power {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 13px;
  background-position: -1px -449px;
}
.icons-firmware {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 13px;
  background-position: -1px -485px;
}
.icons-user {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: relative;
  width: 16px;
  height: 16px;
  background-position: -100.5px -236px;
}
.icon-message {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: relative;
  width: 22px;
  height: 22px;
  background-position: -58px -420px;
}
.icon-power {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
}
.icon-power.power-on {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  cursor: pointer;
  background-position: -58px -365px;
}
.icon-power.power-off {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  cursor: pointer;
  background-position: -58px -391px;
}
.icons-message {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: relative;
  width: 22px;
  height: 22px;
  background-position: -58px -240px;
}
.icons-lang-cn {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: relative;
  width: 22px;
  height: 22px;
  background-position: -58px -261px;
  cursor: pointer;
}
.icons-lang-en {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: relative;
  width: 22px;
  height: 22px;
  background-position: -58px -235px;
  cursor: pointer;
}
.icons-exit {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: relative;
  width: 22px;
  height: 22px;
  background-position: -58px -287px;
  cursor: pointer;
}
.icons-refresh {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: relative;
  width: 20px;
  height: 20px;
  background-position: -150px -350px;
  cursor: pointer;
}
.icons-help {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: relative;
  width: 20px;
  height: 20px;
  background-position: -170px -350px;
  cursor: pointer;
}
.icon-gray-setting {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: relative;
  width: 14px;
  height: 14px;
  top: 3px;
  left: -2px;
  margin-right: 8px;
  background-position: -390px -22px;
}
.icon-blue-setting {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: relative;
  width: 14px;
  height: 14px;
  top: 3px;
  left: -2px;
  margin-right: 8px;
  background-position: -390px -50px;
}
.icon-setting {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: relative;
  width: 14px;
  height: 14px;
  top: 3px;
  left: -2px;
  margin-right: 8px;
  background-position: -390px -50px;
}
.icon-save {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: relative;
  width: 14px;
  height: 14px;
  top: 3px;
  left: -2px;
  margin-right: 8px;
  background-position: -406px -64px;
}
.icon-view {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: relative;
  width: 14px;
  height: 14px;
  top: 3px;
  left: -2px;
  margin-right: 8px;
  background-position: -423px -64px;
}
.icon-clear {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: relative;
  width: 14px;
  height: 14px;
  top: 3px;
  left: -2px;
  margin-right: 8px;
  background-position: -440px -22px;
}
.icon-add {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: relative;
  width: 14px;
  height: 14px;
  top: 3px;
  left: -2px;
  margin-right: 8px;
  background-position: -374px -64px;
}
.icons-time {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: relative;
  width: 16px;
  height: 16px;
  background-position: -454.5px -35.5px;
}
.icons-time-deep {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: relative;
  width: 16px;
  height: 16px;
  background-position: -454.5px -35.5px;
  background-position: -454.5px -21.5px;
}
.icons-login-help {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 32px;
  height: 32px;
  background-position: 0px -64px;
  cursor: pointer;
}
.icons-login-langcn {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 32px;
  height: 32px;
  background-position: 0px 0px;
  cursor: pointer;
}
.icons-login-langen {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 32px;
  height: 32px;
  background-position: 0px -32px;
  cursor: pointer;
}
.icons-errtips {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: absolute;
  top: 10px;
  left: 15px;
  width: 13px;
  height: 13px;
  background-position: -81px 0px;
}
.icons-username {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: absolute;
  width: 26px;
  height: 26px;
  left: 15px;
  top: 12px;
  background-position: -43px 0px;
}
.icons-password {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: absolute;
  width: 26px;
  height: 26px;
  left: 15px;
  top: 12px;
  background-position: -43px -26px;
}
.icons-retirepwd {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: absolute;
  width: 26px;
  height: 26px;
  left: 15px;
  top: 12px;
  background-position: -43px -52px;
}
.icons-slide-ok {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 16px;
  height: 16px;
  background-position: 0px -288px;
}
.icons-disabled {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 16px;
  height: 16px;
  background-position: -16px -336px;
}
.icons-state-available {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 16px;
  height: 16px;
  background-position: 0 -496px;
}
.icons-state-ok {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 16px;
  height: 16px;
  background-position: -150px -309px;
}
.icons-state-normal {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 16px;
  height: 16px;
  background-position: -166px -309px;
}
.icons-state-caution {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 16px;
  height: 16px;
  background-position: -182px -309px;
}
.icons-state-critical {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 16px;
  height: 16px;
  background-position: -198px -309px;
}
.icons-status-outline {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 16px;
  height: 16px;
  background-position: -214px -309px;
}
.bigicons-state-ok {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 60px;
  height: 60px;
  background-position: -150px -235px;
}
.bigicons-state-normal {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 60px;
  height: 60px;
  background-position: -210px -235px;
}
.bigicons-state-caution {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 60px;
  height: 60px;
  background-position: -270px -235px;
}
.bigicons-state-critical {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 60px;
  height: 60px;
  background-position: -330px -235px;
}
.icons-temperature-state {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 36px;
  height: 36px;
  background-position: -390px -233px;
}
.icons-power-state {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 36px;
  height: 36px;
  background-position: -390px -443px;
}
.icons-current-state {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 36px;
  height: 36px;
  background-position: -390px -277px;
}
.icons-volatge-state {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 36px;
  height: 36px;
  background-position: -390px -319px;
}
.icons-memory-state {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 36px;
  height: 28px;
  background-position: -390px -367px;
}
.icons-disk-state {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 36px;
  height: 36px;
  background-position: -390px -490px;
}
.icons-processor-state {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 36px;
  height: 36px;
  background-position: -390px -404px;
}
.icons-fans-state {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 36px;
  height: 36px;
  background-position: -390px -531px;
}
.icons-right {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 28px;
  height: 28px;
  background-position: -170px -144px;
}
.icons-left {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 28px;
  height: 28px;
  background-position: -131px -144px;
}
.icons-left-disable {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 28px;
  height: 28px;
  background-position: -131px -180px;
}
.icons-right-disable {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 28px;
  height: 28px;
  background-position: -170px -180px;
}
.icons-left-hover {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 28px;
  height: 28px;
  background-position: -131px -112px;
}
.icons-right-hover {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 28px;
  height: 28px;
  background-position: -170px -112px;
}
.icons-logo {
  padding: 0;
  margin-top: 0;
  width: 80px;
  height: 20px;
  display: inline-block;
}
.icons-slide-minus {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: relative;
  top: 2px;
  width: 14px;
  height: 14px;
  background-position: -472px -22px;
}
.icons-slide-plus {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  position: relative;
  top: 2px;
  width: 14px;
  height: 14px;
  background-position: -472px -36px;
}
.icons-bsod-left {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 42px;
  height: 72px;
  margin: 5px 8px 5px 10px;
  background-position: -518px -96px;
  cursor: pointer;
}
.icons-bsod-left:hover {
  background-position: -518px -22px;
}
.icons-bsod-right {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background: url(../images/icons.png);
  width: 42px;
  height: 72px;
  margin: 5px 8px 5px 10px;
  background-position: -562px -96px;
  cursor: pointer;
}
.icons-bsod-right:hover {
  background-position: -562px -22px;
}
