.dashboard {
  height: 200px;
  margin-top: 20px;
}
.dashboard .ant-col-12 {
  line-height: 36px;
}
.dashboard .alert-info a {
  color: #303133;
}
.dashboard .alert-info .status-icon {
  margin-top: 6px;
}
.dashboard .led-info span {
  position: absolute;
  top: 2px;
  right: 68px;
}
.info {
  height: 270px;
}
.info .kvm button {
  border: none;
  background: none;
  cursor: pointer;
  color: #3385ff;
  text-decoration: underline;
  padding: 0;
  margin-right: 20px;
}
.info .kvm button:focus {
  outline: none;
}
.session .session-table {
  margin-top: 30px;
}
.ok {
  color: #009944;
}
.normal {
  color: #ffc000;
}
.caution {
  color: #ff6600;
}
.critical {
  color: #ff003c;
}
.bigStatus {
  margin-top: 20px;
  text-align: center;
}
.bigStatus span {
  font-size: 24px;
  margin-top: 26px;
  display: block;
  text-align: center;
}
.deviceText {
  display: inline-block;
  font-size: 14px;
  color: #606266;
  padding: 0 0 30px 44px;
  margin-top: 10px;
}
.health-icon ul {
  position: absolute;
  top: 85px;
  left: -16px;
  width: 640px;
  overflow: auto;
}
.health-icon ul li {
  float: left;
  margin-right: 20px;
  width: 60px;
  height: 100px;
  font-size: 12px;
  padding: 3px 0;
}
.health-icon ul li a {
  display: inline-block;
  text-align: center;
  position: relative;
}
.health-icon ul li a em {
  position: absolute;
  top: 24px;
  left: 32px;
}
.health-icon ul li .system-left {
  display: block;
  margin: 0 auto;
}
.health-icon ul li .system-right {
  margin-left: 5px;
  position: absolute;
  top: 25px;
  padding-left: 0;
}
.health-icon ul li .stateText {
  display: block;
  width: 60px;
  margin-top: 12px;
  text-align: center;
  text-decoration: underline;
  color: #3385ff;
}
.status-icon {
  display: block;
  float: left;
  margin-top: 10px;
  margin-right: 16px;
}
.alertInfo .critical {
  color: #ff003c;
}
.alertInfo .caution {
  color: #ff6600;
}
.alertInfo .normal {
  color: #ffc000;
}
.alertInfo .ok {
  color: #009944;
}
.status-icon {
  position: relative;
  top: 3px;
  display: block;
  margin-right: 16px;
}
.sessionTable {
  margin-top: 30px;
}
